@model List<KillerApp.Models.Abonnement>
@{
    ViewBag.Title = "Abonnementen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lijst van Abonnementen</h2>
<table class="table">
    
    <tr>
        
        <th></th>

        <th>
            Naam
        </th>
        <th>
            Prijs
        </th>
        <th>
            Beschrijving
        </th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Wijzig", "EditAbonnement", new {Naam = item.Naam}) |
                @Html.ActionLink("Details", "Details", new {Naam = item.Naam})
            </td>
            <td>
                @Html.Encode(item.Naam)
            </td>
            <td>
                @Html.Encode(item.Beschrijving)
            </td>
            <td>
                @Html.Encode(item.Beschrijving)
            </td>
        </tr>
    }
</table>

