@model List<KillerApp.Models.Abonnement>
@{
    ViewBag.Title = "Abonnementen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#">Abonnementen</a></li>
        <li><a href="@Url.Action("Gebruikers", "Beheer")"><span>Gebruikers</span></a></li>
        <li><a href="@Url.Action("Scheldwoorden", "Beheer")"><span>Scheldwoorden</span></a></li>
</div>

<h2>Lijst van Abonnementen</h2>

<div class="col-md-offset-0 col-md-10">
    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("AddAbonnement", "Beheer")'">Nieuw abonnement</button>
</div>
<br><br>
<table class="table">
    
    <tr>
        
        <th></th>

        <th>
            Naam
        </th>
        <th>
            Prijs
        </th>
        <th>
            Beschrijving
        </th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Wijzig", "WijzigAbonnement", new {Naam = item.Naam}) | 
                @Html.ActionLink("Verwijder", "VerwijderAbonnement", new { Naam = item.Naam }, new { onclick = "return confirm('Weet je zeker dat je dit abonnement wilt verwijderen?');" })
            </td>
            <td>
                @Html.Encode(item.Naam)
            </td>
            <td>
                @Html.Encode(item.Prijs)
            </td>
            <td>
                @Html.Encode(item.Beschrijving)
            </td>
        </tr>
    }
</table>
