@model List<KillerApp.Models.Gebruiker>
@{
    ViewBag.Title = "Gebruikers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nav nav-tabs" role="tablist">
    <li><a href="@Url.Action("Abonnementen", "Beheer")"><span>Abonnementen</span></a></li>
    <li class="active"><a href="#">Gebruikers</a></li>
    <li><a href="@Url.Action("Scheldwoorden", "Beheer")"><span>Scheldwoorden</span></a></li>
</div>

<h2>Lijst van Gebruikers</h2>

<div>
    @Html.ActionLink("Voeg gebruiker toe", "AddGebruiker")
</div>

<table class="table">
    <tr>
        <th></th>
        
        <th>
            Naam
        </th>
        <th>
            Gebruikersnaam
        </th>
        <th>
            Geslacht
        </th>
        <th>
            Emailadres
        </th>
        <th>
            Wachtwoord
        </th>
        <th>
            Abonnement
        </th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Wijzig", "WijzigGebruiker", new {Email = item.Emailadres})
            </td>
            <td>
                @Html.Encode(item.Naam)
            </td>
            <td>
                @Html.Encode(item.Gebruikersnaam)
            </td>
            <td>
                @Html.Encode(item.Geslacht)
            </td>
            <td>
                @Html.Encode(item.Emailadres)
            </td>
            <td>
                @Html.Encode(item.Wachtwoord)
            </td>
            <td>
                @Html.Encode(item.Abonnement.Naam)
            </td>
        </tr>
    }
</table>
