@model List<KillerApp.Models.Scheldwoord>
@{
    ViewBag.Title = "Scheldwoorden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nav nav-tabs" role="tablist">
    <li><a href="@Url.Action("Abonnementen", "Beheer")"><span>Abonnementen</span></a></li>
    <li><a href="@Url.Action("Gebruikers", "Beheer")"><span>Gebruikers</span></a></li>
    <li class="active"><a href="#">Scheldwoorden</a></li>
</div>

<h2>Lijst van scheldwoorden</h2>

<div class="col-md-offset-0 col-md-10">
    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("AddScheldwoord", "Beheer")'">Nieuw scheldwoord</button>
</div>
<br><br>
<table class="table">
    <tr>
        <th></th>
        <th>
            Woord
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Verwijder", "VerwijderScheldwoord", new { Woord = item.Woord }, new { onclick = "return confirm('Weet je zeker dat je dit scheldwoord wilt verwijderen?');" })
            </td>
            <td>
                @Html.Encode(item.Woord)
            </td>
        </tr>
    }
</table>

