@using KillerApp.Models
@using Microsoft.AspNet.Identity
@if (Session["Gebruiker"] != null)
{
    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @{ Gebruiker gebruiker = (Gebruiker) HttpContext.Current.Session["Gebruiker"];}
            @if (gebruiker.Naam == "null")
            {
                @Html.ActionLink("Hello " + gebruiker.Gebruikersnaam + "!", "UploadedContent", "Content", routeValues: null, htmlAttributes: new { title = "UploadedContent" })
            }
            else
            {
                @Html.ActionLink("Hello " + gebruiker.Naam + "!", "UploadedContent", "Content", routeValues: null, htmlAttributes: new { title = "UploadedContent" })
            }
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
