@using System.Diagnostics.Eventing.Reader
@model List<KillerApp.Models.Content>
@{
    ViewBag.Title = "Geüploade Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#">Geüpload</a></li>
        <li><a href="@Url.Action("Upload", "Content")"><span>Upload</span></a></li>
</div>

<h2>Eigen Content</h2>
<table class="table">
    <tr>
        <th></th>
        <th>
            Naam
        </th>
        <th>
            Genre
        </th>
        <th>
            Duur
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Verwijder", "VerwijderContent", new { videonr = item.Nr }, new { onclick = "return confirm('Weet je zeker dat je de content wilt verwijderen?');" })
            </td>
            <td>
                @Html.Raw(item.Naam)
            </td>
            <td>
                @Html.Encode(item.Genre)
            </td>
            <td>
                @Html.Encode(item.Duur)
            </td>
        </tr>
    }
</table>
